# Configuración DEMO (Todo en la misma PC)

# DB
LEBRUN_DB_HOST=localhost
LEBRUN_DB_PORT=3306
LEBRUN_DB_USER=root
LEBRUN_DB_PASSWORD=

LEBRUN_DB_SYSADM=sisadm
LEBRUN_DB_SYSCONF=sysconf
LEBRUN_DB_SYSCONTA_PREFIX=sysconta

# Sesiones
SECRET_KEY=change-me-in-dev

# Fiscal Agent
LEBRUN_FISCAL_AGENT_TOKEN=change-me

# Uvicorn (solo local)
LEBRUN_UVICORN_HOST=127.0.0.1
LEBRUN_UVICORN_PORT=8000
