{% extends "base.html" %} {% block page_title %} Panel principal {% endblock %}
{% block sidebar %} {% include "_sidebar.html" %} {% endblock %} {% block
content %}
<div class="grid">
  <div class="col-12">
    <div class="card">
      <div class="card__title">Bienvenido, {{ user.username }}</div>
      <div class="card__body">
        <p class="muted">Selecciona una opción del menú para continuar.</p>
        {% if request.session.get('company_code') %}
        <div class="code">
          Compañía activa: {{ request.session.get('company_code') }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
